.chat {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #ece9e9;
}

.nav {
  color: #433259;
  border-bottom: 1px solid #433259;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.userDetailsNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navActions {
  display: flex;
  gap: 0.4rem;
}

.navActions button {
  border: none;
  background: inherit;
  border: none;
  cursor: pointer;
}

.navImg {
  display: flex;
  align-items: center;
}

.nav img {
  width: 45px;
  height: 45px;
  border: 1px solid white;
  border-radius: 50%;
  object-fit: cover;
}

.input {
  position: relative;
  display: flex;
  height: 50px;
  border-top: 1px solid grey;
  padding: 0 5px;
}

.input input {
  flex: 1;
  font-size: 18px;
  padding-left: 5px;
  background-color: inherit;
  outline: none;
  border: none;
}

.inputActions {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.inputActions button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.chatArea {
  flex: 1;
  color: black;
  padding: 5px;
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: content-box;
}

.message {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 7px;
}

.messageUser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageUser img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #808080;
}

.messageUser p {
  font-size: 13px;
  font-weight: bold;
  margin-top: 2px;
  color: #808080;
}

.messageContent {
  background-color: #808080;
  border-radius: 0px 10px 10px 10px;
  padding: 5px;
  color: white;
}

.message.owner {
  display: flex;
  flex-direction: row-reverse;
}

.message.owner .messageContent {
  border-radius: 10px 0px 10px 10px;
  background-color: #632999;
}

.noChat {
  height: 100%;
  color: #808080;
  font-weight: bold;
  font-size: 25px;
  margin: 170px auto 0 auto;
}

.emojiContainer {
  position: absolute;
  bottom: 25px;
  right: 0px;
}

.messageDetails.owner {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: max-content;
}

.imgArea img {
  width: 100px;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}

.inputActions input[type="file"] {
  display: none;
}

.inputActions label {
  cursor: pointer;
  color: black;
}
